.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 40px;
  background-color: #ffffff;
  color: var(--primary-color);
}

.info-text h1 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
}

.info-text p {
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 5px;
}