body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #E1DFD9;
}

#root {
  height: 100%;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content-wrap {
  max-width: 1300px;
  width: 100%;
}

.content-wrap h1 {
  font-size: 2.8em;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
  color: #333;
  text-align: center; /* Voeg deze regel toe om de tekst in het midden te plaatsen */
}

.subheading {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
  text-align: center; /* Voeg deze regel toe om de tekst in het midden te plaatsen */

}

.filter-bar {
  margin-bottom: 20px;
}

.city-list {
  margin-top: 20px;
}
