.signup-container {
  max-width: 400px;
  margin: 50px auto;
  margin-bottom: 150px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: #393b3a 2px solid;
  position: relative; /* Added for popup positioning */
}

.signup-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  max-width: 500px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #45a049;
}