.general-info-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.general-info-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.general-info-text {
    text-align: center;

}

.general-info-container h2 {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.general-info-container hr {
  border-top: 2px solid #000000;
}

.general-info-container p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.general-info-container ul {
  list-style-type: none;
  padding: 0;
}

.general-info-container ul li {
  margin-bottom: 10px;
}

.general-info-container ul li a {
  color: #007bff;
  text-decoration: none;
}

.general-info-container ul li a:hover {
  text-decoration: underline;
}