.popular-destinations-container {
    background-color: #F3F6F9;
    padding: 60px 20px;
  }
  
  .popular-destinations-inner {
    width: calc(100% - 40px); /* Zorg ervoor dat de container 100% breed is minus de marge */
    margin: 0 20px; /* Voeg een marge van 20px toe aan de linker- en rechterkant */
  }
  
  .destination-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 0 40px 0;
  }
  
  .destination-article:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  
  .destination-image-wrapper {
    flex: 1.4; /* Maak de afbeelding groter door de flex waarde te verhogen */
    margin-right: 20px;
  }
  
  .destination-article:nth-of-type(even) .destination-image-wrapper {
    margin-right: 0;
    margin-left: 20px;
  }
  
  .destination-image-wrapper img {
    width: 100%;
    max-height: 500px;
    border-radius: 30px;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
  }
  
  .destination-info {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .destination-title-underline {
    width: 60px;
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 10px; /* Voeg een marge van 10px toe aan de bovenkant */
    margin-bottom: 10px; /* Voeg een marge van 20px toe aan de onderkant */
  }
  
  .destination-info p {
    margin: 10px 0;
  }
  
  .destination-link {
    display: inline-block;
    margin: 40px auto 0 auto;
    padding: 12px 26px;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .destination-link:hover {
    background-color: #1a2d20;
    color: white;
  }
  
  .popular-destinations-container h1 {
    font-size: 2.5rem;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .popular-destinations-container h4 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    /* border: #006fde 2px solid; */
    margin-bottom: 0; /* Zorg ervoor dat er geen marge aan de onderkant is */
  }
  
  .popular-destinations-container p {
    font-size: 1.1rem;
    color: black;
    /* border: #006fde 2px solid; */
  }