.image-section {
  position: relative;
  width: 100%;
  min-height: 75vh;
  background: linear-gradient(to right, 
    rgb(255, 255, 255) 20%, 
    rgba(255, 255, 255, 0.907) 30%, 
    rgba(255, 255, 255, 0.674) 43%, 
    rgba(0, 0, 0, 0) ),
    url('../../assets/ik.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: center;
}

.text-content {
  border: #222222 2px solid;
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 40px;
  margin-left: 140px;
}

.text-content h2 {
  font-size: 2rem;
}

.text-content h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.image-button {
  padding: 14px 26px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.image-button:hover {
  background-color: white;
  color: black;
  border: #222222 2px solid;
}